<h3>Artist Details View</h3>

<table style="width:100%">
  <tr>
    <th>First Name</th>
    <td><%= @artist.first_name() %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @artist.last_name() %></td>
  </tr>
  <tr>
    <th>Artist ID</th>
    <td><%= @artist.id() %></td>
  </tr>
  <tr>
    <th colspan="2"><a href="/products/filter/<%= @artist.id() %>">See All Products by <%= @artist.full_name() %></a></th>
  </tr>
</table>

<div class="buttons">

  <form action="/artists/<%= @artist.id() %>/edit" method="get">
    <input type="submit" value="Edit Artist Details">
  </form>
  <br>
  <form action="/artists/<%= @artist.id() %>/delete" method="post">
    <input type="submit" value="Delete Artist">
  </form>

</div>
