<h3>Inventory View</h3>

<form action="/products/filter" method="post">
  <label for="artist_id-select">Filter by Artist:</label>
  <select name="artist_id" id="artist_id-select">
    <% @artists.each do |artist| %>
        <option value="<%= artist.id() %>"><%= artist.full_name() %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>
<br>
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>SKU</th>
    <th>Artist</th>
    <th>Sale Price</th>
    <th>Copies in Stock</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.title() %></td>
    <td><%= product.id() %></td>
    <td><a href="/artists/<%= product.artist_id() %>">
      <%= Artist.find_by_id(product.artist_id()).full_name() %></a></td>
    <td>£<%= Product.convert_to_pounds(product.sale_price()) %></td>
    <td class="<%= product.stock_status() %>">
      <%= product.copies_in_stock() %>
    </td>
    <td><a href="/products/<%= product.id() %>">Full Details</a></td>
  </tr>
  <% end %>
</table>
