<h3>Full Details View</h3>

<table style="width:100%">
  <tr>
    <th colspan="2"><%= @product.title() %> (SKU <%= @product.id() %>)</th>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @product.description() %></td>
  </tr>
  <tr>
    <th>Artist</th>
    <td><a href="/artists/<%= @product.artist_id() %>">
      <%= Artist.find_by_id(@product.artist_id()).full_name() %></a></td>
  </tr>
  <tr>
    <th>Buying Cost</th>
    <td>£<%= Product.convert_to_pounds(@product.buying_cost()) %></td>
  </tr>
  <tr>
    <th>Sale Price</th>
    <td>£<%= Product.convert_to_pounds(@product.sale_price()) %></td>
  </tr>
  <tr>
    <th>Quantity in Stock</th>
    <td><%= @product.copies_in_stock() %></td>
  </tr>
  <tr>
    <th>Image</th>
    <td><img src="/images/<%= @product.image_ref() %>"
      alt="Image of the artwork <%= @product.title() %> by <%= Artist.find_by_id(@product.artist_id()).full_name() %>"></td>
  </tr>
</table>

<br>

<div class="buttons">

  <form action="/products/<%= @product.id() %>/edit" method="get">
    <input type="submit" value="Edit Product Details">
  </form>
  <br>
  <form action="/products/<%= @product.id() %>/delete" method="post">
    <input type="submit" value="Delete Product">
  </form>

</div>
